.cabecera{
    background-color: $fondo-celeste;

    &__redes__img{
        min-width: 1.5rem;
        width: 2rem;    
        opacity: 90%;  
        transition: 0.1s;   
        &:hover{
            transform: scale(1.1);
            transition: 0.1s;
        }      
    }

    &__logo__img{
        width: 10rem;
    }
}